@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This web application Built Using ASP.NET MVC . This Web Application used for Translating the Text in many languages , language you can select in selection bar .</p>
